footer
    .logo
        img(src="assets/img/white_logo.png").white-logo

    p.footer-phrase Have a project we could help you with?

    button Get Started
    .contacts
        p Direct Contacts:
        p info@swansoftwaresolutions.com
        p Email Addresses:
        p sales@swansoftwaresolutions.com
        p executive@swansoftwaresolutions.com

    hr

    copyright 2015. SWAN SOFTWARE SOLUTIONS LLC

    nav
        a(href="#") MEDIA
        a(href="#") NEWS
        a(href="#") CLIENTS
        a(href="#") TECHNOLOGY
        a(href="#") COMPANY