header

    .logo
        img(src="assets/img/logo.png")

    nav
        a(href="#") COMPANY
        a(href="#") TECHNOLOGY
        a(href="#") CLIENTS
        a(href="#") NEWS
        a(href="#") MEDIA
        img(src="assets/img/right_icon.png")

    h2.hero Make yout business better with us

    ul.hero-icons
        li
            a(href="#")
                img(src="assets/img/white_palette.png")
        li
            a(href="#")
                img(src="assets/img/gears_white.png")
        li
            a(href="#")
                img(src="assets/img/ipad_white.png")
        li
            a(href="#")
                img(src="assets/img/white_users.png")

    button Get Started

    .smart
        img(src="assets/img/smart.png")